body
{
 text-align:center;
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:century gothic,sans-serif;
 background-color: #f4f9f4;
}
#header_wrapper
{
 width:100%;
 min-width:980px;
 background-color:#477256;
 position: fixed;
 overflow: hidden;
  z-index:1;
}
#header
{
 width:980px;
 margin:0px auto;
    padding: 0;
 height:54px;

}
#header li
{
 list-style-type:none;
 float:left;
 text-align:left;
 color:white;
}
#header #sitename
{
 margin-top:12px;
}
#header #sitename a
{
 color:white;
 text-decoration:none;
 font-size:25px;
 font-weight:900;
}
#header #icon li
{
	margin-top:12px;
	float:right;
	padding-left:15px;
}
#search
{
  margin-top: 15px;	
  width: 400px;
  padding-left: 170px;
  box-sizing: border-box;
  background: url(search.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 150px 0;
  background-color: white;
  border-radius: 5px;
  transition: all 0.05s ease-in-out;
}
#search:focus {
  padding-left: 16px;
  background-position: 0;
}
#wrapper
{
  margin:0 auto;
 padding:0px;
 width:980px;
}
#wrapper div
{
 float:left;
 font-family: helvetica, sans-serif;
}
#wrapper #header4c
{
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  position: relative;
  padding-top: 0px;
  margin-top: 85px;
  margin-bottom: 214px;
  background: #f7f6f6;
  width: 580px;
  height: 280px;
  border-radius: 3px;
  text-align:left;
}


#footer_wrapper
{
 width:100%;
 clear:both;
 float:left;
 margin-top:0px;
 min-width:995px;
 background-color:white;
 text-align:left;
}
#footer2
{
 width:980px;
 margin:0px auto;
 padding:10px;
 font-size:12px;
 color:#848484;
}
#footer2 a 
{
 color: #477256;
 display:inline-block;
margin:5px 10px 5px 10px;
}

ul
{
 margin: 0;
 padding: 0;
}
ul li
{
 display: inline-block;
 position: relative;
 text-align: left;
}
ul li a
{
 display: block;
 color: #333;
 text-decoration: none;
}
ul li a:hover
{
 color: #fff;
 background: transparent;
}
ul li ul.dropdown
{
 background: #53916d;
 display: none;
 position: absolute;
 padding: 10px;
}
ul li:hover ul.dropdown
{
 display: block;/* Display the dropdown */
 position: fixed;
 z-index: 1;  
}
ul li ul.dropdown li
{
 display: block;
}